<!DOCTYPE html>
<html>
  <head>
    <title>Validately</title>
    <meta name="description" content="My little experiment...">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles/style.css">
  </head>
  <body>
	<div class="app-container">
		<article class="story-block">
			<div class="story__header">
				<h1 class="t-size-h4 u-spacing-mb-0">Trip Planner</h1>	
				<span class="byline">Tropics Lab</span>
			</div>
			
      <div id="answers">
        
        <ul>
          <li v-for="answer, value in list">
              {{value}}
            <ul>
              <li v-for="item in answer">{{item.questions[0].answer}}</li>
            </ul>
          </li>
        </ul>
        
        <ul>
          <li v-for="answer, value in list">
              {{value}}
            <ul>
              <li v-for="item in answer">{{item.questions[1].answer}}</li>
            </ul>
          </li>
        </ul>
        
        
   
      </div>
      
		</article>

	</div>



<script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA_2Bu81WuWrjLoJHP3EFDo41jYgNJ8BUM",
    authDomain: "validately-948d9.firebaseapp.com",
    databaseURL: "https://validately-948d9.firebaseio.com",
    projectId: "validately-948d9",
    storageBucket: "validately-948d9.appspot.com",
    messagingSenderId: "354991934469"
  };
  firebase.initializeApp(config);
</script>    
    

    
<script src="https://unpkg.com/vue"></script>
<script src="static/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="static/js/answers.js"></script>


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    
    <!-- Hotjar Tracking Code for https://season-slope.glitch.me/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:495253,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  </body>
</html>
