* {
	box-sizing: border-box;
}

html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	@extend .sans;
	@extend .u-color-body;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

p {
	@extend .t-size-b1;
	@extend .sans;
	line-height: 2em;
	margin-bottom: 2em;
	margin-top: 0;

}

a {
	@extend .t-color-body;
	text-decoration: none;
}

h3 {
	@extend .t-size-h4;
	@extend .t-color-body;
	@extend .sans;
	margin-bottom: 1em;
	line-height: 1.5;
}

ul {
	@extend .u-spacing-p-m;
}

li {
	@extend .t-size-b2;
	@extend .u-spacing-mb-s;
	line-height: 28px;
	list-style-type: disc;
	@extend .sans;
}

blockquote {
	color: $muted;
	@extend .u-spacing-pl-m;
	@extend .u-spacing-mb-l;
	@include border(3px solid, $faint, left);
	line-height: 2em;
}

p + h3 {
	@extend .u-spacing-mt-xl;
}


h3:first-of-type {
	@extend .u-spacing-mt-0;
}
