$body: #333333;
$muted: #939493;
$faint: #f3f3f3;
$primary: #3888E7;
$alt-white: #F6F5F1;

$phone-width: 400px;
$tablet-width: 768px;
$desktop-width: 1024px;


$display-types: (block, inline-block, flex);
$u-widths: 40, 50, 60, 70, 80, 90, 100 !default;

$u-spacings: (
	xxxl: 150px,
    xxl: 80px,
    xl: 48px,
    l: 32px,
    m: 16px,
    s: 8px,
    0: 0
) !default;

$header-sizes: (
	1: 16em, 
	2: 11.2em, 
	3: 7.2em, 
	4: 2.4em
);

$body-sizes: (
	1: 1.8em, 
	2: 1.4em, 
	3: 1.2em
);
