/*
Error: Undefined mixin 'border'.
        on line 2 of /Users/chinweiwong/projects/validately/static/sass/components/_app-header.scss, in `border'
        from line 2 of /Users/chinweiwong/projects/validately/static/sass/components/_app-header.scss
        from line 1 of sass/components/components.scss

1: @import "components/app-header";
2: @import "components/page";
3: @import "components/header";
4: @import "components/footer";
5: @import "components/work-block";
6: @import "components/story";
7: @import "components/button";

Backtrace:
/Users/chinweiwong/projects/validately/static/sass/components/_app-header.scss:2:in `border'
/Users/chinweiwong/projects/validately/static/sass/components/_app-header.scss:2
sass/components/components.scss:1
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:98:in `with_mixin'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/chinweiwong/.rvm/gems/ruby-2.4.0@global/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'border'.\A         on line 2 of /Users/chinweiwong/projects/validately/static/sass/components/_app-header.scss, in `border'\A         from line 2 of /Users/chinweiwong/projects/validately/static/sass/components/_app-header.scss\A         from line 1 of sass/components/components.scss\A \A 1: @import \"components/app-header\";\A 2: @import \"components/page\";\A 3: @import \"components/header\";\A 4: @import \"components/footer\";\A 5: @import \"components/work-block\";\A 6: @import \"components/story\";\A 7: @import \"components/button\";"; }
