.app-header {
	@include border(1px solid, $faint, bottom);
	@extend .l-row;
	@extend .u-spacing-pv-0;
	@extend .u-spacing-ph-m;
	height: 50px;
	width: 100vw;
	align-items: center;
	background: white;
	background: rgba(255, 255, 255, 0.9);
	z-index: 9999;
}
