.button {
	@extend .t-size-b2;
	@extend .u-d-inline-block;
	font-weight: 600;
}

.button--primary {
	@extend .t-size-b1;
	@extend .t-weight-bold;
	@extend .u-spacing-pv-s;
	@extend .u-spacing-ph-m;
	background: $primary;
	border-radius: 5px;
	color: white;
	transition: background-color 0.3s ease;
	cursor: pointer;

	&:hover, &.is-loading {
		background: lighten($primary, 10%);
	}

	&:active {
		background: darken($primary, 10%);
	}

	&[disabled] {
		background: $faint;
	}
}
	


.button--filled {
	@extend .u-d-inline-block;
	@extend .t-size-b1;
	@extend .t-weight-bold;
	@extend .u-spacing-p-s;
	background: $faint;
	border-radius: 5px;
	color: $body;
}
