.story-block {
	@extend .u-margin-auto;
	@extend .l-max-width-text;
	@extend .l-row--full-height;
	@extend .u-spacing-pl-l;
	@extend .u-spacing-pr-l;
	@extend .u-spacing-pt-xxxl;
	@extend .u-overflow-scroll;
	@extend .u-width-60;





	@include tablet {
		width: 100%;
		overflow: visible;
		height: inherit;
	}

	@include phone {
		width: 100%;
		overflow: visible;
		height: inherit;
	}
}


