.t-size-h1 {
  font-size: 16em; }

.t-size-h2, .page__header, .work-block__title {
  font-size: 11.2em; }

.t-size-h3, .header--small {
  font-size: 7.2em; }

.t-size-h4, h3, .work-block__byline, .feedback__header {
  font-size: 2.4em; }

.t-size-b1, .caption, p, .button--primary, .button--filled {
  font-size: 1.8em; }

.t-size-b2, li, .button {
  font-size: 1.4em; }

.t-size-b3, .byline, .page__byline, .footer__content {
  font-size: 1.2em; }

.byline, .page__byline {
  line-height: 1.5;
  color: #939493; }

.caption {
  margin: 0 auto 64px auto;
  line-height: 1.5;
  color: #939493; }

.sans, .byline, .page__byline, body, p, h3, li, .footer__content, .work-block__byline {
  font-family: 'Source Sans Pro', sans-serif; }

.t-weight-bold, .header, .page__header, .work-block__title, .button--primary, .button--filled, .feedback__header {
  font-weight: bold; }

.t-color-body, a, h3 {
  color: #333333; }

.l-row, .app-header, .work-block, .app-container {
  display: flex;
  flex-direction: row; }

.l-row--full-height, .work-block, .story-block, .feedback {
  height: 100vh;
  justify-content: center; }

.l-col, .work-block__link {
  display: flex;
  flex-direction: column; }

.l-col--centered, .work-block__link {
  justify-content: center; }

.u-d-block, .byline, .page__byline, .header, .page__header, .work-block__title, .work-block__byline, .video {
  display: block; }

.u-d-inline-block, .page__summary, .button, .button--filled {
  display: inline-block; }

.u-d-flex {
  display: flex; }

.u-width-40,
.feedback {
  width: 40%; }

.u-width-50 {
  width: 50%; }

.u-width-60,
.story-block {
  width: 60%; }

.u-width-70 {
  width: 70%; }

.u-width-80,
.page__summary {
  width: 80%; }

.u-width-90,
.work-block__content {
  width: 90%; }

.u-width-100,
.caption,
.l-col--expand,
.work-block__link,
.page__content,
.video,
.feedback__header,
.input__long-text {
  width: 100%; }

.l-max-width-text, .caption, .page__summary, .story-block {
  max-width: 660px; }

.l-max-width-display, .page__content {
  max-width: 1280px; }

.u-position-fixed {
  position: fixed; }

.u-overflow-scroll, .story-block, .feedback {
  overflow: scroll; }

.u-text-center, .caption, .page__header-section, .page__summary, .footer__content {
  text-align: center; }

.u-margin-auto, .page__content, .footer__content, .work-block__content, .story-block, .video {
  margin: 0 auto; }

.u-justify-center {
  justify-content: center; }

.u-color-body, body {
  color: #333333; }

.u-color-bg-white, .feedback {
  background: white; }

.u-color-bg-alt-white, .app-container {
  background: #F6F5F1; }

.u-color-accent {
  color: #3888E7; }

.u-spacing-m-xxxl {
  margin: 150px; }

.u-spacing-mb-xxxl {
  margin-bottom: 150px; }

.u-spacing-ml-xxxl {
  margin-left: 150px; }

.u-spacing-mr-xxxl {
  margin-right: 150px; }

.u-spacing-mt-xxxl {
  margin-top: 150px; }

.u-spacing-mv-xxxl {
  margin-bottom: 150px;
  margin-top: 150px; }

.u-spacing-mh-xxxl {
  margin-left: 150px;
  margin-right: 150px; }

.u-spacing-p-xxxl {
  padding: 150px; }

.u-spacing-pb-xxxl {
  padding-bottom: 150px; }

.u-spacing-pl-xxxl {
  padding-left: 150px; }

.u-spacing-pr-xxxl {
  padding-right: 150px; }

.u-spacing-pt-xxxl,
.story-block {
  padding-top: 150px; }

.u-spacing-pv-xxxl {
  padding-bottom: 150px;
  padding-top: 150px; }

.u-spacing-ph-xxxl {
  padding-left: 150px;
  padding-right: 150px; }

.u-spacing-m-xxl {
  margin: 80px; }

.u-spacing-mb-xxl {
  margin-bottom: 80px; }

.u-spacing-ml-xxl {
  margin-left: 80px; }

.u-spacing-mr-xxl {
  margin-right: 80px; }

.u-spacing-mt-xxl {
  margin-top: 80px; }

.u-spacing-mv-xxl {
  margin-bottom: 80px;
  margin-top: 80px; }

.u-spacing-mh-xxl {
  margin-left: 80px;
  margin-right: 80px; }

.u-spacing-p-xxl {
  padding: 80px; }

.u-spacing-pb-xxl {
  padding-bottom: 80px; }

.u-spacing-pl-xxl {
  padding-left: 80px; }

.u-spacing-pr-xxl {
  padding-right: 80px; }

.u-spacing-pt-xxl,
.page {
  padding-top: 80px; }

.u-spacing-pv-xxl {
  padding-bottom: 80px;
  padding-top: 80px; }

.u-spacing-ph-xxl {
  padding-left: 80px;
  padding-right: 80px; }

.u-spacing-m-xl {
  margin: 48px; }

.u-spacing-mb-xl {
  margin-bottom: 48px; }

.u-spacing-ml-xl {
  margin-left: 48px; }

.u-spacing-mr-xl {
  margin-right: 48px; }

.u-spacing-mt-xl,
p + h3 {
  margin-top: 48px; }

.u-spacing-mv-xl {
  margin-bottom: 48px;
  margin-top: 48px; }

.u-spacing-mh-xl {
  margin-left: 48px;
  margin-right: 48px; }

.u-spacing-p-xl {
  padding: 48px; }

.u-spacing-pb-xl {
  padding-bottom: 48px; }

.u-spacing-pl-xl {
  padding-left: 48px; }

.u-spacing-pr-xl {
  padding-right: 48px; }

.u-spacing-pt-xl {
  padding-top: 48px; }

.u-spacing-pv-xl {
  padding-bottom: 48px;
  padding-top: 48px; }

.u-spacing-ph-xl {
  padding-left: 48px;
  padding-right: 48px; }

.u-spacing-m-l {
  margin: 32px; }

.u-spacing-mb-l,
.byline,
.page__byline,
blockquote,
.header,
.page__header,
.work-block__title,
.work-block__byline {
  margin-bottom: 32px; }

.u-spacing-ml-l {
  margin-left: 32px; }

.u-spacing-mr-l {
  margin-right: 32px; }

.u-spacing-mt-l {
  margin-top: 32px; }

.u-spacing-mv-l {
  margin-bottom: 32px;
  margin-top: 32px; }

.u-spacing-mh-l {
  margin-left: 32px;
  margin-right: 32px; }

.u-spacing-p-l {
  padding: 32px; }

.u-spacing-pb-l,
.feedback {
  padding-bottom: 32px; }

.u-spacing-pl-l,
.story-block {
  padding-left: 32px; }

.u-spacing-pr-l,
.story-block {
  padding-right: 32px; }

.u-spacing-pt-l {
  padding-top: 32px; }

.u-spacing-pv-l {
  padding-bottom: 32px;
  padding-top: 32px; }

.u-spacing-ph-l,
.feedback {
  padding-left: 32px;
  padding-right: 32px; }

.u-spacing-m-m {
  margin: 16px; }

.u-spacing-mb-m,
.question {
  margin-bottom: 16px; }

.u-spacing-ml-m {
  margin-left: 16px; }

.u-spacing-mr-m {
  margin-right: 16px; }

.u-spacing-mt-m {
  margin-top: 16px; }

.u-spacing-mv-m {
  margin-bottom: 16px;
  margin-top: 16px; }

.u-spacing-mh-m {
  margin-left: 16px;
  margin-right: 16px; }

.u-spacing-p-m,
ul,
.footer__content,
.work-block__content {
  padding: 16px; }

.u-spacing-pb-m {
  padding-bottom: 16px; }

.u-spacing-pl-m,
blockquote {
  padding-left: 16px; }

.u-spacing-pr-m {
  padding-right: 16px; }

.u-spacing-pt-m {
  padding-top: 16px; }

.u-spacing-pv-m {
  padding-bottom: 16px;
  padding-top: 16px; }

.u-spacing-ph-m,
.app-header,
.button--primary {
  padding-left: 16px;
  padding-right: 16px; }

.u-spacing-m-s {
  margin: 8px; }

.u-spacing-mb-s,
li {
  margin-bottom: 8px; }

.u-spacing-ml-s {
  margin-left: 8px; }

.u-spacing-mr-s {
  margin-right: 8px; }

.u-spacing-mt-s {
  margin-top: 8px; }

.u-spacing-mv-s {
  margin-bottom: 8px;
  margin-top: 8px; }

.u-spacing-mh-s {
  margin-left: 8px;
  margin-right: 8px; }

.u-spacing-p-s,
.button--filled,
.input__long-text {
  padding: 8px; }

.u-spacing-pb-s {
  padding-bottom: 8px; }

.u-spacing-pl-s {
  padding-left: 8px; }

.u-spacing-pr-s {
  padding-right: 8px; }

.u-spacing-pt-s {
  padding-top: 8px; }

.u-spacing-pv-s,
.button--primary {
  padding-bottom: 8px;
  padding-top: 8px; }

.u-spacing-ph-s {
  padding-left: 8px;
  padding-right: 8px; }

.u-spacing-m-0 {
  margin: 0; }

.u-spacing-mb-0 {
  margin-bottom: 0; }

.u-spacing-ml-0 {
  margin-left: 0; }

.u-spacing-mr-0 {
  margin-right: 0; }

.u-spacing-mt-0,
h3:first-of-type {
  margin-top: 0; }

.u-spacing-mv-0 {
  margin-bottom: 0;
  margin-top: 0; }

.u-spacing-mh-0 {
  margin-left: 0;
  margin-right: 0; }

.u-spacing-p-0 {
  padding: 0; }

.u-spacing-pb-0 {
  padding-bottom: 0; }

.u-spacing-pl-0 {
  padding-left: 0; }

.u-spacing-pr-0 {
  padding-right: 0; }

.u-spacing-pt-0 {
  padding-top: 0; }

.u-spacing-pv-0,
.app-header {
  padding-bottom: 0;
  padding-top: 0; }

.u-spacing-ph-0 {
  padding-left: 0;
  padding-right: 0; }

.u-spacing-mt-zero-first-child:first-child {
  margin-top: 0 !important; }

.u-spacing-mb-zero-last-child:last-child {
  margin-bottom: 0 !important; }

* {
  box-sizing: border-box; }

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

p {
  line-height: 2em;
  margin-bottom: 2em;
  margin-top: 0; }

a {
  text-decoration: none; }

h3 {
  margin-bottom: 1em;
  line-height: 1.5; }

li {
  line-height: 28px;
  list-style-type: disc; }

blockquote {
  color: #939493;
  border-left: 3px solid #f3f3f3;
  line-height: 2em; }

.app-header {
  border-bottom: 1px solid #f3f3f3;
  height: 50px;
  width: 100vw;
  align-items: center;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999; }

@media (max-width: 399px) {
  .page__content {
    padding: 16px; } }

@media (max-width: 399px) {
  .page__header {
    font-size: 64px;
    letter-spacing: -6px; } }

@media (max-width: 399px) {
  .page__summary {
    width: 100%; } }

.header, .page__header {
  letter-spacing: -8px; }

.header--small {
  letter-spacing: -6px; }

footer {
  border-top: 1px solid #f3f3f3; }

.work-block__link {
  position: relative;
  bottom: 10%;
  cursor: pointer; }

@media (max-width: 399px) {
  .work-block__content {
    width: 100%;
    padding-right: 36px; } }

.work-block__title {
  letter-spacing: -8px; }
  @media (max-width: 399px) {
    .work-block__title {
      font-size: 72px; } }

.work-block__date {
  font-size: 18px;
  letter-spacing: 1;
  color: #939493;
  font-weight: 100; }

.work-block__byline {
  color: #939493;
  line-height: 1.5; }

.work-block__inline-icon {
  position: relative;
  top: 4px;
  left: 0;
  height: 24px; }

@media (min-width: 400px) and (max-width: 1023px) {
  .story-block {
    width: 100%;
    overflow: visible;
    height: inherit; } }
@media (max-width: 399px) {
  .story-block {
    width: 100%;
    overflow: visible;
    height: inherit; } }

.button {
  font-weight: 600; }

.button--primary {
  background: #3888E7;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer; }
  .button--primary:hover, .button--primary.is-loading {
    background: #66a3ec; }
  .button--primary:active {
    background: #196ed3; }
  .button--primary[disabled] {
    background: #f3f3f3; }

.button--filled {
  background: #f3f3f3;
  border-radius: 5px;
  color: #333333; }

.video--mobile {
  max-width: 343px;
  border: 1px solid #f3f3f3; }

.feedback {
  padding-top: 300px;
  -webkit-box-shadow: -4px 0px 12px 1px #dbdbdb;
  -moz-box-shadow: -4px 0px 12px 1px #dbdbdb;
  box-shadow: -4px 0px 12px 1px #dbdbdb; }
  @media (min-width: 400px) and (max-width: 1023px) {
    .feedback {
      height: inherit;
      padding-top: 32px;
      width: 100%; } }
  @media (max-width: 399px) {
    .feedback {
      height: inherit;
      padding-top: 32px;
      width: 100%; } }

.question__label {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.5; }

.input__long-text {
  color: #333333;
  font-size: 1.6em;
  border: 0;
  border-left: 3px solid #f3f3f3;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  transition: border-color 0.3s ease; }
  .input__long-text:focus {
    border-left: 3px solid #3888E7; }

.text-logo {
  font-size: 16px; }

.barba-container {
  position: relative;
  left: 0;
  opacity: 1;
  transition: 0.3s left ease, 0.3s opacity ease; }
  .barba-container.is-hidden {
    left: -10px;
    opacity: 0; }

.button-group {
  margin-bottom: 32px;
  display: inline-block; }

.img-container {
  max-width: 960px;
  margin: 0 auto 32px auto; }
  .img-container > img {
    width: 100%; }

@media (min-width: 400px) and (max-width: 1023px) {
  .app-container {
    display: block; } }
@media (max-width: 399px) {
  .app-container {
    display: block; } }

@media (min-width: 400px) and (max-width: 1023px) {
  img {
    width: 100%; } }
@media (max-width: 399px) {
  img {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
